<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
</head>
<body>

    <div class="chart-wrapper-big">
        <div style="overflow-x:auto;">
            <table>
              <tr>
                <th>Name</th>
                <th>Visits</th>
              </tr>
              {% for name, visits in top_customers_1.items() %}
              <tr>
                <td>{{ name }}</td>
                <td>{{ visits }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
    </div>

</body>
</html>